<footer class="bg-primary ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/bicycle_logo_960_720.png" alt="Bike logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			<p>Get news from us in your inbox every month.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Surrey Hills Cycle Hire</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/tours" class="link">Bike Tours</a></li>
					<li><a href="/hire" class="link">Bike Hire</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
<!-- 					<li><a href="/post/jamaica-blue/" class="link">Latest offers</a></li> -->
<!-- 					<li><a href="/contact" class="link">Book a bike or a tour</a></li> -->
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/surreyhillscyclehire" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/surreyhillsch" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/surreyhillscyclehire" "svg" "icons-instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<!-- Facebook Pixel Code -->
<!--
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1026866504073090');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1026866504073090&ev=PageView&noscript=1"
  /></noscript>
-->
<!-- End Facebook Pixel Code -->

<!-- Facebook SDK for Javascript -->
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '1997047823683740',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v3.2'
      });
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
<!-- End Facebook SDK for Javascript -->

<!-- FB customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="167874473761271"
  theme_color="#67b868"
  logged_in_greeting="Hi, how can we help you?"
  logged_out_greeting="Hi, how can we help you?">
</div>
<!-- End FB customer chat code -->

{{ if .Site.Params.googlefonts }}
  <link rel="stylesheet" href="{{ .Site.Params.googlefonts }}" type="text/css" media="all" /> 
{{ end }}


{{ if ne (printf "%v" $.Site.BaseURL) "http://localhost:3000/" }}
  <!-- BEGIN JIVOSITE CODE {literal} -->
  <!--
  <script type='text/javascript'>
  (function(){ var widget_id = 'Zq8kQEv6jd';var d=document;var w=window;function l(){
  var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
  -->
  <!-- {/literal} END JIVOSITE CODE -->
{{ end }}

</body>

</html>
