<head>

	<title>{{ .Title }} | Surrey Hills Cycle Hire</title>
	<link rel="stylesheet" href="/css/main.css" />

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{ if .Site.Params.googlefonts }}
    <link rel="stylesheet" href="{{ .Site.Params.googlefonts }}" type="text/css" media="all" /> 
    {{ end }}
	
	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#fff">

	<!-- Open Graph -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="Surrey Hills Cycle Hire">
	<meta property="og:description" content="Bike hire and guided electric bike tours in the beautiful area around Hambledon in the Surrey Hills.">
	<meta property="og:url" content="https://surreyhillscyclehire.co.uk">
	<meta property="og:image" content="/img/og-image.jpg">
    
    <meta name="twitter:site" content="@surreyhillsch" />
    <meta name="twitter:creator" content="@surreyhillsch" />
    
    <!-- Geo tags -->
    <meta name="ICBM" content="51.137273, -0.620589">
    <meta name="geo.position" content="51.137273, -0.620589">
    
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<!--     <script src="/js/structured_data.js" type="application/ld+json"></script> -->
    <link href="/js/structured_data.js" rel="alternate" type="application/ld+json" />
    
    {{ if ne (printf "%v" $.Site.BaseURL) "http://localhost:3000/" }}    
    {{ template "_internal/google_analytics.html" . }}
    {{ end }}

</head>