<div class="ph2">

	<!-- Title -->
	<h3 class="b f6 grey-3 tc lh-title mb3"><u>{{.plan}}</u></h3>

	<!-- Price -->
	<p class="primary f1 b tc lh-title center">
		<span class="f4">£</span>{{.price1}} <span class="f6">half day</span><br>
		<span class="f4">£</span>{{.price2}} <span class="f6">full day</span><br>
	</p>

	<!-- Description -->
	<p class="b">{{.description}}</p>

	<!-- Features -->
	<ul>
		{{ $itemCount := len .items }}
		{{ range $index, $item := .items }}
		<li>
			<p class="{{ if ne (add 1 $index) $itemCount }}pb2 mb2 divider-grey{{ end }}">{{ $item }}</p>
		</li>
		{{ end }}
	</ul>

</div>
