{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="{{ .Params.logo }}" alt="" class="db w4 center pv4">


		<div class="flex-ns mb3">
	        	{{ range .Params.contact_entries }}
				<div>
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
					<p>{{ .text }}</p>
				</div>
			{{ end }}
		</div>
Please note, we do not have a store front. Please contact us before visiting. Hire bikes are normally collected from and returned to <a href="https://goo.gl/maps/hjrH8qXnSnH2">Hambledon Village Shop</a>, or we can deliver locally.
<br>
<br>
        <a href="#contact_form"><h3 class="f4 b lh-title mb2">Make a booking or ask a question</h3></a>

Use the form below to contact us or call 07506 173480, <a href="sms:447506173480" title="Bike enquiry">send a text message</a>, use <a href="https://api.whatsapp.com/send?phone=447506173480">WhatsApp</a> or email <a href="mailto:surreyhillscyclehire@gmail.com">surreyhillscyclehire@gmail.com</a>. If your enquiry is about a bike booking, please include the heights of all riders.
        <br></br>

        {{ partial "contact-form" . }}

        
        {{ .Content }}


	</div>
      
</div>




{{ end }}
