{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text-lead" .Params.head1}}

{{ partial "question" .Params.question1}}
{{ partial "question" .Params.question2}}
{{ partial "question" .Params.question3}}
{{ partial "question" .Params.question4}}
{{ partial "question" .Params.question5}}
{{ partial "question" .Params.question6}}
{{ partial "question" .Params.question11}}

{{ partial "short-text-lead" .Params.head2}}

{{ partial "question" .Params.question7}}
{{ partial "question" .Params.question8}}
{{ partial "question" .Params.question9}}
{{ partial "question" .Params.question10}}


<!-- {{ partial "2-up" .Params }} -->

<!-- {{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }} -->

{{ end }}
