{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "4-up" .Params.intro }}

{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">{{ .heading_a }}</h3>
    <p>{{ .description_a }}</p>
    <h3 class="f3 b lh-title mb2">{{ .heading_b }}</h3>
    <p>{{ .description_b }}</p>
  </div>
</div>

<!-- Image grid -->
<!-- {{ partial "image-grid" . }} -->
{{ end }}

{{ partial "table-hire" .Params.pricing }}

<div class="tc">
  <a href="/contact" class="btn raise">Contact Us About Bike Hire</a>
</div>

{{ partial "short-text-3line" .Params.blurb}}


{{ end }}
