{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "4-up-small" .Params.intro1 }}

{{ with .Params.main }}

<div class="mw7 center">
  <div class="mw6 ph3">
    <h1 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>{{ .description }}</p>
  </div>
</div>

{{ end }}

<div style="overflow:hidden;">
    <iframe style="display:block; margin: auto; max-width:700px;" name="plotaroute_map_572987" src="https://www.plotaroute.com/embedmap/572987" frameborder="0" scrolling="no" width="100%" max-width="700" height="500" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="https://www.plotaroute.com/route/572987" target="_blank" title="View this route map on plotaroute.com">Route map on plotaroute.com.</a></div>
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="/routes/gpx/Dunsfold-Tugley_Wood-Sidney_Wood-Hascombe-Hurtwood.gpx" target="_blank" title="Download a GPX file for this route">Download a GPX file for this route.</a></div> 
 
{{ partial "4-up-small" .Params.intro2 }}

{{ with .Params.main }}

<div class="mw7 center">
  <div class="mw6 ph3">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>{{ .description }}</p>
  </div>
</div>

{{ end }}
    
<div style="overflow:hidden;">
    <iframe style="display:block; margin: auto; max-width:700px;" name="plotaroute_map_573101" src="https://www.plotaroute.com/embedmap/573101" frameborder="0" scrolling="no" width="100%" max-width="700" height="500" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="https://www.plotaroute.com/route/573101" target="_blank" title="View this route map on plotaroute.com">Route map on plotaroute.com.</a></div> 
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="/routes/gpx/Chidd-bdown-lurgashall-shillinglee-uppervann.gpx" target="_blank" title="Download a GPX file for this route">Download a GPX file for this route.</a></div>  
    
{{ partial "4-up-small" .Params.intro3 }}

{{ with .Params.main }}

<div class="mw7 center">
  <div class="mw6 ph3">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>{{ .description }}</p>
  </div>
</div>

{{ end }}
    
<div style="overflow:hidden;">
    <iframe style="display:block; margin: auto; max-width:700px;" name="plotaroute_map_573149" src="https://www.plotaroute.com/embedmap/573149" frameborder="0" scrolling="no" width="100%" max-width="700" height="500" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="https://www.plotaroute.com/route/573149" target="_blank" title="View this route map on plotaroute.com">Route map on plotaroute.com.</a></div>    
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="/routes/gpx/Witley_common-thursley_common-punchbowl-dunsfold.gpx" target="_blank" title="Download a GPX file for this route">Download a GPX file for this route.</a></div>
    
{{ partial "4-up-small" .Params.intro4 }}

{{ with .Params.main }}

<div class="mw7 center">
  <div class="mw6 ph3">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>{{ .description }}</p>
  </div>
</div>

{{ end }}
    
<div style="overflow:hidden;">
    <iframe style="display:block; margin: auto; max-width:700px;" name="plotaroute_map_573856" src="https://www.plotaroute.com/embedmap/573856" frameborder="0" scrolling="no" width="100%" max-width="700" height="500" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="https://www.plotaroute.com/route/573856" target="_blank" title="View this route map on plotaroute.com">Route map on plotaroute.com.</a></div>    
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="/routes/gpx/Bowlhead_Green-Thursley_Common-Witley_Common.gpx" target="_blank" title="Download a GPX file for this route">Download a GPX file for this route.</a></div>

 
    
{{ end }}
