{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "short-text-no-title" .Params.intro }}

<div class="bg-grey-1 pv3">
  <div class="mhn1-l ph3 center mw7">
    <p1 class="w-130-l mb0"><a href="#route1">Route 1 - Dunsfold, The Wey & Arun Canal and Hascombe Hill (3.5 to 4 hours)</a></p1><br>
    <p1 class="w-130-l mb0"><a href="#route2">Route 2 - Chiddingfold, Blackdown, Shillinglee and Upper Vann (3.5 to 4 hours)</a></p1><br>
    <p1 class="w-130-l mb0"><a href="#route3">Route 3 - Hambledon, Witley, Thursley and Hankley Commons, Devil's Punchbowl, Chiddingfold, Dunsfold and Upper Vann (3.5 to 4 hours)</a></p1><br>
    <p1 class="w-130-l mb0"><a href="#route4">Route 4 - Bowlhead Green, Thursley Common, Witley Common and Busses Common (2 to 2.5 hours)</a></p1><br>
    <p1 class="w-130-l mb0"><a href="#route5">Route 5 - Shackleford, Tilford, Hankley Common, Thursley Common (5 to 6 hours)</a></p1><br>
    <p1 class="w-130-l mb0"><a href="#route6">Route 6 - Dunsfold, Sidney Wood, Wey South Path, Loxwood (4 to 5 hours)</a></p1><br>
  </div>
</div>

{{ partial "4-up-small" .Params.route1 }}

<div style="overflow:hidden;" id="route1">
    <iframe style="display:block; margin: auto; max-width:700px;" name="plotaroute_map_572987" src="https://www.plotaroute.com/embedmap/572987" frameborder="0" scrolling="no" width="100%" max-width="700" height="500" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="https://www.plotaroute.com/route/572987" target="_blank" title="View this route map on plotaroute.com">Route map on plotaroute.com.</a></div>
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="/routes/gpx/Dunsfold-Tugley_Wood-Sidney_Wood-Hascombe-Hurtwood.gpx" target="_blank" title="Download a GPX file for this route">Download a GPX file for this route.</a></div> 
 
{{ partial "4-up-small" .Params.route2 }}

    <div style="overflow:hidden;" id="route2">
    <iframe style="display:block; margin: auto; max-width:700px;" name="plotaroute_map_573101" src="https://www.plotaroute.com/embedmap/573101" frameborder="0" scrolling="no" width="100%" max-width="700" height="500" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="https://www.plotaroute.com/route/573101" target="_blank" title="View this route map on plotaroute.com">Route map on plotaroute.com.</a></div> 
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="/routes/gpx/Chidd-bdown-lurgashall-shillinglee-uppervann.gpx" target="_blank" title="Download a GPX file for this route">Download a GPX file for this route.</a></div>  
    
{{ partial "4-up-small" .Params.route3 }}

    <div style="overflow:hidden;" id="route3">
    <iframe style="display:block; margin: auto; max-width:700px;" name="plotaroute_map_573149" src="https://www.plotaroute.com/embedmap/573149" frameborder="0" scrolling="no" width="100%" max-width="700" height="500" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="https://www.plotaroute.com/route/573149" target="_blank" title="View this route map on plotaroute.com">Route map on plotaroute.com.</a></div>    
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="/routes/gpx/Witley_common-thursley_common-punchbowl-dunsfold.gpx" target="_blank" title="Download a GPX file for this route">Download a GPX file for this route.</a></div>
    
{{ partial "4-up-small" .Params.route4 }}

<div style="overflow:hidden;" id="route4">
    <iframe style="display:block; margin: auto; max-width:700px;" name="plotaroute_map_573856" src="https://www.plotaroute.com/embedmap/573856" frameborder="0" scrolling="no" width="100%" max-width="700" height="500" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="https://www.plotaroute.com/route/573856" target="_blank" title="View this route map on plotaroute.com">Route map on plotaroute.com.</a></div>    
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="/routes/gpx/Bowlhead_Green-Thursley_Common-Witley_Common.gpx" target="_blank" title="Download a GPX file for this route">Download a GPX file for this route.</a></div>

{{ partial "4-up-small" .Params.route5 }}

<div style="overflow:hidden;" id="route5">
    <iframe style="display:block; margin: auto; max-width:700px;" name="plotaroute_map_582793" src="https://www.plotaroute.com/embedmap/582793" frameborder="0" scrolling="no" width="100%" max-width="700" height="500" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="https://www.plotaroute.com/route/582793" target="_blank" title="View this route map on plotaroute.com">Route map on plotaroute.com.</a></div>    
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="/routes/gpx/Shakleford–Tilford–Frensham–Elstead–Thurs3.gpx" target="_blank" title="Download a GPX file for this route">Download a GPX file for this route.</a></div>
    
{{ partial "4-up-small" .Params.route6 }}

<div style="overflow:hidden;" id="route6">
    <iframe style="display:block; margin: auto; max-width:700px;" name="plotaroute_map_589013" src="https://www.plotaroute.com/embedmap/589013" frameborder="0" scrolling="no" width="100%" max-width="700" height="500" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="https://www.plotaroute.com/route/589013" target="_blank" title="View this route map on plotaroute.com">Route map on plotaroute.com.</a></div>    
    <p style="margin: auto; margin-top:8px;margin-bottom:4px;font-family:Chivo;font-size:16px;"><a href="/routes/gpx/Dunsfold-Sidney_Wood-Loxwood.gpx" target="_blank" title="Download a GPX file for this route">Download a GPX file for this route.</a></div>

{{ end }}
