{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "4-up" .Params.intro }}

{{ partial "short-text" .Params.blurb }}

{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">{{ .heading | markdownify }}</h3>
    <p>{{ .description | markdownify }}</p>
  </div>
</div>

<!-- Image grid -->
{{ partial "image-grid1" . }}
{{ end }}

<!--
<div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>
-->

<!-- Full-width image -->
<!-- <img src="{{ .Params.full_image }}" alt="" class="db w-100"> -->

{{ partial "table-tours" .Params.pricing }}

<div class="tc">
  <a href="/contact/#contact_form" class="btn raise">Contact Us About Bike Tours</a>
</div>
<br></br>
<!-- {{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }} -->

{{ partial "short-text" .Params.blurb2 }}

{{ end }}
